[submodule "linphone-sdk"]
path = external/linphone-sdk
	url = https://github.com/BelledonneCommunications/linphone-sdk.git
[submodule "external/google/gn"]
	path = external/google/gn
	url = https://gn.googlesource.com/gn.git
[submodule "external/google/crashpad"]
	path = external/google/crashpad
	url = https://chromium.googlesource.com/crashpad/crashpad.git
[submodule "external/google/chromium-depot-tools"]
	path = external/google/chromium-depot-tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
